@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

@media (max-width: 414px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-image: url(https://images2.alphacoders.com/941/941898.jpg);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        position: relative;
    }

        .container::before {
            content: '';
            flex-grow: 1;
            margin-top: -10px; /* Adjusted margin-top to make it overlap */
            position: absolute;
            width: 0px;
            height: 0px; /* Adjusted height for the overlap */
            background-color: red; /* Adjust the color as needed */
        }

    .centered-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #category-container {
        max-height: 250px;
    }

    .category-selection {
        max-height: 250px;
        flex: 1;
        margin-top: 10px;
        text-align: left;
        font-family: "Rubik", sans-serif;
    }

    .card {
        flex: 2;
        border-radius: 0.5em;
        width: 360px;
        max-width: 400px;
        perspective: 800px;
        cursor: pointer;
        margin-top: 200px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 360px;
        max-height: 500px;
        border: 2px solid #858ab1;
        border-radius: 0.5em;
    }

    .card-inner {
        width: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }

        .card-inner.flipped {
            transform: rotateY(180deg);
        }

    .front {
        width: 360px;
        max-width: 360px;
        height: 280px;
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .back {
        width: 360px;
        max-width: 360px;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid #858ab1;
        border-radius: 0.5em;
        background-color: #f0f4ff;
        background-size: cover;
        color: black;
        height: 280px;
        transform: rotateY(180deg);
        font-size: 12px;
        text-align: left;
    }

    .painting-title,
    .painting-author,
    .painting-description {
        font-family: 'Noto Serif Telugu', serif;
        margin-top: 5px;
        text-align: left;
        padding: 5px;
        font-size: 12px;
    }

    .title, .author {
        font-weight: 700;
    }

    .buttons-container {
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: auto; /* Change margin-top to auto */
        margin-top: 400px;
    }
}

.button, #reloadButton {
    z-index: 1;
    width: 300px;
    height: 50px;
    font-weight: 600;
    color: #222638;
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    background: #f0f4ff;
    border: 2px solid #858ab1;
    border-radius: 0.5em;
    font-size: 14px;
}

#flipCard, #reloadButton {
    margin-top: 10px;
    width: 100%;
}
